<%= simple_form_for(@space) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <div class="form-group">
      <%= f.label :owner, 'Owner' %><br />
      <%= "#{current_user.first_name} #{current_user.last_name}" %>
    </div>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :country %>
    <%= f.input :postal_code %>
    <%= f.input :space_type, as: :check_boxes, collection: ['Event Venue', 'Co-working Space', 'Vacation Rental', 'Shooting Location', 'Studio', 'Wedding Hall', 'Classroom'] %>
    <%= f.input :capacity %>
    <%= f.input :amenities %>
    <%= f.input :price_per_hour %>
    <%= f.input :price_per_day %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :is_hourly_available %>
    <%= f.input :is_daily_available %>
    <%= f.input :latitude, as: :hidden %>
    <%= f.input :longitude, as: :hidden %>

     <!-- Add the new fields here -->
  <div class="field">
    <%= f.input :available_from, label: 'Available From', collection: time_options, include_blank: false, input_html: { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= f.input :available_to, label: 'Available Until', collection: time_options, include_blank: false, input_html: { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= f.input :minimum_rental_duration, label: 'Minimum Rental Hours', input_html: { class: 'form-control' } %>
  </div>

    <% if @space.images.attached? %>
      <div>
        <h3>Current Images:</h3>
        <% @space.images.each do |image| %>
          <div class="existing-image">
            <%= image_tag image, width: 100 %>
            <%= check_box_tag "space[remove_images][]", image.id %>
            <%= label_tag "space_remove_images_#{image.id}", "Remove this image" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :images, 'Upload Images' %>
      <%= f.file_field :images, multiple: true %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
