<div id="<%= dom_id space %>">
  <% if space.images.attached? %>
    <div>
      <% space.images.each do |image| %>
        <%= image_tag image %>
      <% end %>
    </div>
  <% end %>
</div>

  <p>
    <strong>Owner:</strong>
    <%= space.owner_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= space.owner.first_name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= space.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= space.description %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= space.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= space.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= space.state %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= space.country %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= space.postal_code %>
  </p>

  <p>
    <strong>Space type:</strong>
    <%= space.space_type %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= space.capacity %>
  </p>

  <p>
    <strong>Amenities:</strong>
    <%= space.amenities %>
  </p>

  <p>
    <strong>Price per hour:</strong>
    <%= space.price_per_hour %>
  </p>

  <p>
    <strong>Price per day:</strong>
    <%= space.price_per_day %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= space.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= space.end_date %>
  </p>

  <p>
    <strong>Is hourly available:</strong>
    <%= space.is_hourly_available %>
  </p>

  <p>
    <strong>Is daily available:</strong>
    <%= space.is_daily_available %>
  </p>

</div>
