<script>
  document.addEventListener('DOMContentLoaded', () => {
    const thumbnails = document.querySelectorAll('.thumbnail');
    const currentImage = document.getElementById('current-image');
    let currentIndex = 0;

    thumbnails.forEach((thumbnail, index) => {
      thumbnail.addEventListener('click', () => {
        currentIndex = index;
        updateCurrentImage();
      });
    });

    window.changeImage = function(n) {
      currentIndex = (currentIndex + n + thumbnails.length) % thumbnails.length;
      updateCurrentImage();
    };

    function updateCurrentImage() {
      const selectedThumbnail = thumbnails[currentIndex];
      currentImage.src = selectedThumbnail.dataset.largeImage;

      thumbnails.forEach(thumbnail => thumbnail.classList.remove('active'));
      selectedThumbnail.classList.add('active');
    }

    // Initialize first image as active
    updateCurrentImage();
  });
</script>




<div class="space-container">


    <div id="<%= dom_id(@space) %>" class="space-images">
      <% if @space.images.attached? %>
        <div class="large-image">
          <%= image_tag @space.images.first, id: "current-image", class: "current-image" %>
        </div>
        <div class="thumbnail-images">
          <% @space.images.each_with_index do |image, index| %>
            <%= image_tag image, class: "thumbnail #{'active' if index == 0}", data: { large_image: url_for(image), index: index } %>
          <% end %>
        </div>
        <div class="image-nav">
          <a href="javascript:void(0)" class="prev" onclick="changeImage(-1)">&#10094;</a>
          <a href="javascript:void(0)" class="next" onclick="changeImage(1)">&#10095;</a>
        </div>
      <% end %>
    </div>

<div class="space-title mt-4">
       <p >
        <%= space.title %>
      </p>
</div>

      <p>
        <%= space.city%> | <%= space.state %>| <%= country_name(space.country) %>
      </p>

     <p>
  <strong>Space type:</strong>
  <%= space.space_type.reject(&:blank?).join(", ") %>
</p>


      <p>
        <strong>Owner:</strong>
        <%= space.owner_id %>
      </p>

      <p>
        <strong>Owner:</strong>
        <%= space.owner.first_name %>
      </p>



      <p>
        <strong>Description:</strong>
        <%= space.description %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= space.address %>
      </p>



      <p>
        <strong>State:</strong>
        <%= space.state %>
      </p>



      <p>
        <strong>Postal code:</strong>
        <%= space.postal_code %>
      </p>



      <p>
        <strong>Capacity:</strong>
        <%= space.capacity %>
      </p>

      <p>
        <strong>Amenities:</strong>
        <%= space.amenities %>
      </p>

      <p>
        <strong>Price per hour:</strong>
        <%= space.price_per_hour %>
      </p>

      <p>
        <strong>Price per day:</strong>
        <%= space.price_per_day %>
      </p>

      <p>
        <strong>Start date:</strong>
        <%= space.start_date %>
      </p>

      <p>
        <strong>End date:</strong>
        <%= space.end_date %>
      </p>

      <p>
        <strong>Is hourly available:</strong>
        <%= space.is_hourly_available %>
      </p>

      <p>
        <strong>Is daily available:</strong>
        <%= space.is_daily_available %>
      </p>

      <div class="field">
        <label for="start_time">Start Time</label>
        <select id="start_time" name="start_time">
          <% generate_time_options(@space.available_from, @space.available_to).each do |time| %>
            <option value="<%= time.strftime("%H:%M") %>"><%= time.strftime("%I:%M %p") %></option>
          <% end %>
        </select>
      </div>

      <div class="field">
        <label for="end_time">End Time</label>
        <select id="end_time" name="end_time">
          <% generate_time_options(@space.available_from, @space.available_to).each do |time| %>
            <option value="<%= time.strftime("%H:%M") %>"><%= time.strftime("%I:%M %p") %></option>
          <% end %>
        </select>
      </div>

        <%= month_calendar do |date| %>
          <% if @space.start_date <= date && @space.end_date >= date && date >= Date.today %>
            <%= link_to date.day, "select_date_path(date: date, space_id: @space.id)", class: 'available-day' %>
          <% else %>
            <span><%= date.day %></span>
          <% end %>
        <% end %>



      <div id="map_show"
        data-controller="map"
              data-map-marker-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['GOOGLE_API_BROWSER_KEY'] %>"
        style="width: 100%; height: 400px;">
      </div>


</div>
