<div id="<%= dom_id booking %>">
  <p>
    <strong>Space:</strong>
    <%= booking.space_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= booking.owner_id %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= booking.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= booking.end_date %>
  </p>

  <p>
    <strong>Start hour:</strong>
    <%= booking.start_hour %>
  </p>

  <p>
    <strong>End hour:</strong>
    <%= booking.end_hour %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= booking.price %>
  </p>

  <p>
    <strong>Payment status:</strong>
    <%= booking.payment_status %>
  </p>

  <p>
    <strong>Booking status:</strong>
    <%= booking.booking_status %>
  </p>

</div>
