<h1>New Booking</h1>

<%= simple_form_for(@booking) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :space_id, as: :hidden %>
    <%= f.input :start_date, as: :string, label: "Booking Date" %>
    <%= f.input :start_hour, as: :select, collection: generate_time_options(@space.available_from, @space.available_to).map { |time| [time.strftime("%I:%M %p"), time.strftime("%H:%M")] }, label: "Start Time" %>
    <%= f.input :end_hour, as: :select, collection: generate_time_options(@space.available_from, @space.available_to).map { |time| [time.strftime("%I:%M %p"), time.strftime("%H:%M")] }, label: "End Time" %>

    <div class="field">
      <%= f.label :guest_number, "Number of Guests" %>
      <%= f.number_field :guest_number, min: 1, max: @space.capacity %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit "Confirm Booking" %>
  </div>
<% end %>




<br>

<div>
  <%= link_to "Back to bookings", bookings_path %>
</div>
