<nav class="navbar navbar-expand-lg navbar-light bg-light custom-navbar">
  <div class="container-fluid">
    <!-- Logo and Brand Name -->
    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "logo.png", class: "navbar-logo" %>
      <span class="brand-name ms-2">Event Factory</span>
    <% end %>

    <!-- Toggler for Mobile View -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links and Search Bar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Search Form -->
      <form class="d-flex ms-auto search-bar" method="get" action="<%= spaces_path %>">
        <%= text_field_tag :city, params[:city], class: "form-control me-2", placeholder: "Search by City" %>
        <%= select_tag :country, options_for_select(ISO3166::Country.all.map { |c| [c.iso_short_name, c.alpha2] }, params[:country]),
                  prompt: "Select Country", class: "form-control me-2" %>
        <%= select_tag :space_type, options_for_select(["Event Venue", "Co-working Space", "Studio", "Classroom"], params[:space_type]), prompt: "Space Type", class: "form-select me-2" %>
        <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i></button>
      </form>

      <!-- Right-aligned Links -->
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to chatrooms_path, class: "nav-link" do %>
              <i class="fa-regular fa-envelope"></i> Messages
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to bookings_path, class: "nav-link" do %>
              <i class="fa-regular fa-calendar"></i> Bookings
            <% end %>
          </li>

          <% if user_signed_in? && current_user.email == "omar@gmail.com" %>
            <li class="nav-item">
              <%= link_to "Space Requests", space_requests_path, class: "nav-link" %>
            </li>
         <% end %>

          <!-- Profile Dropdown -->
          <li class="nav-item dropdown">
            <%= image_tag current_user.profile_picture.attached? ? current_user.profile_picture : "default_avatar.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><%= link_to "Profile", user_profile_path(current_user.id), class: "dropdown-item" %></li>
              <% if current_user&.owner? %>
                <li><%= link_to "Owner Dashboard", owner_dashboard_path, class: "dropdown-item" %></li>
              <% end %>
              <li><%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
