<h2>Leave a Review for <%= @space.title %></h2>

<%= form_with model: @review, url: space_reviews_path(@space), local: true do |f| %>
  <div>
    <%= f.label :rating, "Rating (1-5)" %>
    <%= f.select :rating, options_for_select([1, 2, 3, 4, 5]), {}, class: 'star-rating' %>
  </div>

  <div>
    <%= f.label :comment, "Your Review" %>
    <%= f.text_area :comment %>
  </div>

  <div>
    <%= f.submit "Submit Review", class: "btn btn-primary" %>
  </div>
<% end %>
