<!DOCTYPE html>
<html>
  <head>
    <title>EventFactory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Stylesheets -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">

    <!-- JavaScript imports -->
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <!-- Navbar -->
    <%= render "shared/navbar" %>

    <!-- Flash messages -->
    <%= render "shared/flashes" %>

    <!-- Main Content -->
    <%= yield %>

    <!-- Footer -->
    <%= render 'layouts/footer' %>

    <!-- Google Maps API -->
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>

    <!-- Flatpickr -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- jQuery (required for Bootstrap 4.5) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Your application JS (deferred to load last) -->
    <%= javascript_include_tag "application", type: "module", defer: true %>
  </body>
</html>
